<div class="data-table">
 <div class="ontop-table">
  <a routerLink="/transaction/create" class="btn btn-success btn-sm">
   <fa-icon [icon]="plus"></fa-icon> Transaction
  </a>

  <div style="display: flex; align-items: center; justify-content: space-around;">
   <input type="text" class="form-control form-control-sm" placeholder="Search"> <fa-icon [icon]="search"></fa-icon>
  </div>
 </div>

 <table class="table table-hover">
  <thead>
   <tr>
    <th>ID</th>
    <th>Date</th>
    <th>Description</th>
    <th>Debit (Rp)</th>
    <th>Credit (Rp)</th>
    <th>Balance (Rp)</th>
    <th>Action</th>
   </tr>
  </thead>

  <tbody>
   <tr *ngFor="let trs of transactions">
    <td>{{ trs.id }}</td>
    <td>{{ trs.date }}</td>
    <td>{{ trs.description }}</td>
    <td>{{ trs.debit | number }}</td>
    <td>{{ trs.credit | number}}</td>
    <td>{{ trs.balance | number }}</td>
    <td>
     <a class="btn btn-warning btn-sm" (click)="onSelectedTransaction(trs.id)">
      <fa-icon [icon]="pen"></fa-icon>
     </a>
     <span style="padding-right: 5px;"></span>
     <a class="btn btn-danger btn-sm" (click)="onDeleteTransaction(trs)">
      <fa-icon [icon]="trash"></fa-icon>
     </a>
    </td>
   </tr>
  </tbody>
 </table>
</div>