<div class="data-table">
  <div class="ontop-table">
    <div class="btn-action">
      <a routerLink="/transaction/create" class="btn btn-success btn-sm">
        <fa-icon [icon]="plus"></fa-icon> Transaction
      </a>

      <a class="btn btn-secondary btn-sm ms-2" type="button" routerLink="report">
        <fa-icon [icon]="print"></fa-icon> Print Report
      </a>
    </div>

    <div style="display: flex; align-items: center; justify-content: space-around;">
      <input class="form-control form-control-sm" type="search" name="search" placeholder="Search" autocomplete="off"
        [(ngModel)]="searchText">
      <fa-icon [icon]="search"></fa-icon>
    </div>
  </div>

  <table class="table table-hover">
    <thead>
      <tr>
        <th style="width: 48px" (click)="onSorting('id')">ID&nbsp;<fa-icon [icon]="sort"></fa-icon>
        </th>
        <th (click)="onSorting('date')">Date&nbsp;<fa-icon [icon]="sort"></fa-icon>
        </th>
        <th (click)="onSorting('description')">Description&nbsp;<fa-icon [icon]="sort"></fa-icon>
        </th>
        <th (click)="onSorting('debit')">Debit (Rp)&nbsp;<fa-icon [icon]="sort"></fa-icon>
        </th>
        <th (click)="onSorting('credit')">Credit (Rp)&nbsp;<fa-icon [icon]="sort"></fa-icon>
        </th>
        <th (click)="onSorting('balance')">Balance (Rp)&nbsp;<fa-icon [icon]="sort"></fa-icon>
        </th>
        <th>Action</th>
      </tr>
    </thead>

    <tbody>
      <tr
        *ngFor="let trs of transactions | filter: searchText | paginate: {itemsPerPage: 10, currentPage: p} | orderBy: key: reverse">
        <td>{{ trs.id }}</td>
        <td>{{ trs.date }}</td>
        <td>{{ trs.description }}</td>
        <td>{{ trs.debit | number }}</td>
        <td>{{ trs.credit | number}}</td>
        <td>{{ trs.balance | number }}</td>
        <td>
          <a class="btn btn-warning btn-sm" (click)="onSelectedTransaction(trs.id)">
            <fa-icon [icon]="pen"></fa-icon>
          </a>
          <span style="padding-right: 5px;"></span>
          <a class="btn btn-danger btn-sm" (click)="onDeleteTransaction(trs)">
            <fa-icon [icon]="trash"></fa-icon>
          </a>
        </td>
      </tr>
    </tbody>
  </table>

  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>