<div class="login-form">
 <form>
  <div class="mb-3">
   <label for="email" class="form-label">Email address</label>
   <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Email">
  </div>

  <div class="mb-3">
   <label for="password" class="form-label">Password</label>
   <input type="password" class="form-control" id="password" placeholder="Password">
  </div>

  <button type="submit" class="btn btn-primary">Login</button>

  <div class="login-info">
   <span>Belum punya Akun? <a routerLink="/register">Daftar Sekarang</a></span>
  </div>
 </form>
</div>