<div class="register-form">
 <form>
  <div class="mb-3">
   <label for="name" class="form-label">Full Name</label>
   <input type="text" class="form-control" id="name" placeholder="Full Name">
  </div>

  <div class="mb-3">
   <label for="email" class="form-label">Email address</label>
   <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Email Address">
   <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>

  <div class="mb-3">
   <label for="password" class="form-label">Password</label>
   <input type="password" class="form-control" id="password" placeholder="Password">
  </div>

  <button type="submit" class="btn btn-primary">Register</button>

  <div class="register-info">
   <span>Sudah punya Akun? <a routerLink="/login">Login</a></span>
  </div>
 </form>
</div>