.nav .nav-item a {
 color: #ffffff;
 font-size: 15px;
}

.nav .nav-item a:hover {
 cursor: pointer;
}

.nav .nav-item #logout {
 position: absolute;
 bottom: 0;
 margin-bottom: 20px;
 width: 216px;
}

.nav .nav-item #navitem-bg:hover {
 background-color: #262E38;
 border-radius: 0 100px 100px 0;
}

.nav #navitem-bg #logout:hover {
 color: #3AC5D9;
 background-color: #262E38;
 border-radius: 0 100px 100px 0;
}

.nav .nav-item fa-icon {
 padding-right: 8px;
}