.nav .nav-item a {
 color: #ffffff;
 font-size: 15px;
}

.nav .nav-item a:hover {
 color: #a2d5ff;
 cursor: pointer;
}

.nav .nav-item #logout {
 position: absolute;
 bottom: 0;
 padding-bottom: 20px;
}